html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background: #E8CBC0;
    background: -webkit-linear-gradient(to left, #E8CBC0, #636FA4);
    background: linear-gradient(to left, #E8CBC0, #636FA4);
    width: 100%;
    height: auto;
		padding: 0;
}

.jumbotron {
    margin: 40px;
		background: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.jumbotron .well {
		background: rgba(255, 255, 255, 0.4) !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.jumbotron h1 {
    font-size: 3em;
    margin: 0;
}

.list-group-item {
    font-size: 1.2em;
    padding-right: 30%;
    margin-top: 5px;
    border-radius: 4px;
}

.input-group {
    margin-top: 30%;
}

.done {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1px;
    height: 50%;
    width: 20%;
    border-radius: 0;
    border-top-right-radius: 4px;
}

.delete {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1px;
    height: 50%;
    width: 20%;
    border-radius: 0;
    border-bottom-right-radius: 4px;
}

/* Media Queries */

@media (max-width: 600px) {
    .jumbotron {
        margin: 30px 20px;
    }
    .jumbotron h1 {
        font-size: 2.6em;
    }
    .jumbotron h5 {
        font-size: 0.8em;
    }
}


/*@media (max-width: 320px) {
  .jumbotron h1 {
    font-size: 2em;
  }
  .jumbotron h5 {
    font-size: 0.6em;
  }
  .list-group-item {
    font-size: 0.8em;
  }
  .delete {
    font-size: 0.8em;
  }
}*/
